/* Food */
#Food {
	padding: 50px 0px;
	background: rgba($color-1, 1);
	color: rgba($color-2, 1);
	.container {
		&>.row {
			
			.card {
				background: rgba($color-1, 1);
				border-radius: 0;
				z-index: 500;
				border: 0.5px solid rgba($color-2,.125);
				transition: transform .5s;
				margin-bottom: 20px;
				.card_image {
					position: relative;
					overflow: hidden;
					.card-img-top {
						border-radius: 0;
					}
					.card_img_hover {
						position: absolute;
						top:0;
						left:100%;
						background: rgba($color-1,0.6);
						height: 100%;
						width: 100%;
						display: block;
						.card_img_text {
							@extend %center;
							width: 100%;
							a {
								color: $color-2;
								text-decoration: none;
								font-size: 30px;
								display: block;
							}
						}
					}
				}
				&:hover {
					transform: scale(1.05);
					box-shadow: 3px 4px 5px 5px rgba($black, 0.3);
					z-index: 600;
				}
				&:hover .card_img_hover {
					left: 0;
					transition: all .6s;
				}
			}
		}
	}
}
